$green: #51A384 !default;
$brown: #a58861 !default;
$black: #191a1e !default;
$red: #ff3f4c !default;
$gray-blue: #618d96 !default;
$white: #fff !default;
$gray: #949494 !default;
$light-gray:#eef0f0!default;
$blue:#2c45ab;